.card-styling {
  margin: 1px;
  background-color: lightgray;
}

.card-button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #4066E0;
  color: whitesmoke;
  cursor: pointer;

  &:hover {
    filter: brightness(110%)
  }

  &:active {
    transform: scale(0.98)
  }
}